body {
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  height: 100%;
}

@media screen and (max-width: 495px) {
  #logo {
    width: 6em;
  }
}

@media screen and (max-width: 495px) {
  #logo {
    width: 6em;
  }
}
